@import "../../../variables/Mixins.scss";
$bcInputs: #f5f5f5;
$radiusButtonLogin: 10px;
$bcButtonLogin: #8ca2d3;
$sizeTextButtonAndLabels: 24px;

.testDescription {
  @include titleText;
  padding-top: 70px;
  padding-left: 35px;
  font-size: 36px;
}

.variantsDescription {
  display: flex;
  padding-top: 30px;
  flex-direction: row;
  align-items: center;
}

.descText {
  font-size: 14px;
  padding-left: 30px;
  text-align: center;
  color: #c4c4c4;
}

.question {
  font-size: 18px;
  padding-bottom: 25px;
}

.descNumbers {
  display: flex;
  font-size: 24px;
  color: #8ca2d3;
  text-decoration: underline;
}

.submit {
  margin-left: 35px;
  margin-top: 20px;
  background-color: $bcButtonLogin;
  border-radius: $radiusButtonLogin;
  width: 260px;
  height: 53px;
  font-size: $sizeTextButtonAndLabels;
  border: none;
}
