$bcInputs: #f5f5f5;
$radiusButtonRegister: 10px;
$bcButtonRegister: #8ca2d3;
$sizeTextButtonAndLabels: 18px;

.form {
	width: 640px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.form_info {
	display: flex;
	flex-direction: column;
	width: 425px;
}

.wrapper_input {
	width: 100% !important;
	display: flex;
	justify-content: space-between;
}

.wrapper_input label::before {
	content: '' !important;
}

.wrapper_input label {
	width: 120px;
	font-size: $sizeTextButtonAndLabels;
	padding-top: 14px;
}

.wrapper_input input {
	background-color: $bcInputs;
}

.input {
	width: 300px;
	height: 45px;
	background-color: $bcInputs;
}

.radio {
	padding-left: 120px;
	height: 45px;
}

.submit {
	background-color: $bcButtonRegister;
	border-radius: $radiusButtonRegister;
	width: 120px;
	height: 50px;
	font-size: $sizeTextButtonAndLabels;
	border: none;
}

.modalWindow > div {
	background-color: rgb(128, 128, 128);
}

.containerToModalButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.submit_modal {
	border: 1px solid black !important;
	border-radius: $radiusButtonRegister;
	width: 100px;
	height: 45px;
	font-size: $sizeTextButtonAndLabels;
	border: none;
}

.cancel_modal {
	background-color: $bcButtonRegister;
	border-radius: $radiusButtonRegister;
	width: 100px;
	height: 45px;
	font-size: $sizeTextButtonAndLabels;
	border: none;
}

.modalText {
	text-align: center;
	font-size: 21px;
}

.photo {
	align-self: center;
	// padding-right: 40px;
	width: 150px;
	height: 200px;
	// border-radius: 50px;
}
