@import '../../../variables/Mixins.scss';

.container {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 1200px;
	margin: 0 auto;
}

.testName {
	@include titleText;
	margin-bottom: 50px;
}

.boxes {
	width: 290px;
	height: 290px;
}

.testSetups {
	margin-left: 100px;
}

.continer_to_test_init {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.container_to_steps {
	width: 100%;
	padding-bottom: 100px;
}
