@import '../../variables/Mixins.scss';
.container {
	padding-top: 150px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.testName {
	@include titleText;
	margin-bottom: 50px;
}

.boxes {
	margin-left: 100px;
	width: 290px;
	height: 290px;
}

.testSetups {
	margin-left: 200px;
}
