@import '../../../variables/Mixins.scss';
$bcInputs: #f5f5f5;
$radiusButtonLogin: 10px;
$bcButtonLogin: #8ca2d3;
$sizeTextButtonAndLabels: 24px;
$radiusButtonRegister: 10px;
$bcButtonRegister: #8ca2d3;

.title {
	@include titleText;
	padding: 40px 0;
	text-align: left;
	font-size: 30px;
}

.submit {
	margin-top: 50px;
	background-color: $bcButtonLogin;
	border-radius: $radiusButtonLogin;
	width: 200px;
	height: 53px;
	font-size: $sizeTextButtonAndLabels;
	border: none;
	margin-bottom: 30px;
}

.content_container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.modalWindow > div {
	background-color: rgb(128, 128, 128);
}

.containerToModalButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.submit_modal {
	border: 1px solid black !important;
	border-radius: $radiusButtonRegister;
	width: 100px;
	height: 45px;
	font-size: $sizeTextButtonAndLabels;
	border: none;
}

.cancel_modal {
	background-color: $bcButtonRegister;
	border-radius: $radiusButtonRegister;
	width: 100px;
	height: 45px;
	font-size: $sizeTextButtonAndLabels;
	border: none;
}

.modalText {
	text-align: center;
	font-size: 21px;
}
