@import '../../variables/Mixins.scss';
$bcInputs: #f5f5f5;
$radiusButtonLogin: 10px;
$bcButtonLogin: #8ca2d3;
$sizeTextButtonAndLabels: 24px;

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.title {
	@include titleText;
}

.redirect_button {
	margin-top: 50px;
	text-align: center;
	background-color: $bcButtonLogin;
	border-radius: $radiusButtonLogin;
	width: 178px;
	height: 53px;
	font-size: $sizeTextButtonAndLabels;
	border: none;
}
