@import '../../../variables/Mixins.scss';
$bcInputs: #f5f5f5;
$radiusButtonLogin: 10px;
$bcButtonLogin: #8ca2d3;
$sizeTextButtonAndLabels: 24px;

.title {
	@include titleText;
	padding: 40px 0;
	text-align: center;
}

.submit {
	margin-top: 50px;
	background-color: $bcButtonLogin;
	border-radius: $radiusButtonLogin;
	width: 200px;
	height: 53px;
	font-size: $sizeTextButtonAndLabels;
	border: none;
	margin-bottom: 30px;
}

.numbers {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 3fr 1fr;
	line-height: 3;
}

.numbersToGrid {
	grid-column: 2/3;
	display: flex;
	flex-direction: row;
}

.number {
	margin-right: 41px;
	@include blueTextWithUnderline;
}
