@import "../../variables/Mixins.scss";

.container {
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: groove;
  overflow: auto;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 35px;
}

.abbreviation {
  @include titleText;
}

.decryption {
  font-size: 24px;
}

.description {
  max-width: 45%;
  font-size: 24px;
  padding-right: 35px;
}
