@import './../../../../variables/Mixins.scss';

.title {
	@include titleText;
	text-align: center;
	// margin-bottom: 50px;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container_to_TestSetup {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.img_left {
	width: 287px;
	height: 251px;
}
