@import "../../variables/Mixins.scss";

.container {
  height: 118px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: groove;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 33px;
}

.headerName {
  @include titleText;
  font-size: 55px;
  padding-left: 40px;
  color: #559ac8;
}

.buttonIcon {
  height: 52px;
  width: 52px;
}

.profileIcon {
  padding-right: 34px;
}
